{
  "trailingComma": "all",
  "singleQuote": true,
  "rules": {
    "prettier/prettier": [
      true,
      {
        "singleQuote": true,
        "tabWidth": 4,
        "trailingComma": "all"
      }
    ]
  }
}