@import '../../styles/variables.scss';

.button {
  padding: 10px 18px;
  min-width: 68px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 3px;
  transition: linear 0.15s;
}
.active {
  color: #fff;
  background-color: $secondary;
}
