@font-face {
  font-family: 'Road Radio';
  src: local('Road Radio Bold'), local('Road-Radio-Bold'),
    url('../fonts/RoadRadio-Bold.woff2') format('woff2'),
    url('../fonts/RoadRadio-Bold.woff') format('woff'),
    url('../fonts/RoadRadio-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
