@import '../../styles/variables.scss';

.comment {
  margin-bottom: 1em;
  padding: 2em;
  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 5px;
}
.name {
  margin: 0;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
}
.email {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 100%;
  color: $secondary-font-color;
}
.body {
  color: $primary-font-color;
}
